body {
  font-size: $size-text;
  color: $c-text;
  font-family: 'Francois One', sans-serif;
  font-weight: 400;
  line-height:1.4;
  overflow-x: hidden;
}
.casestudy{
  font-family: 'Open sans', sans-serif;
  .section{
    display: grid;
    grid-template-columns: 1.5em 1fr;
    column-gap: 0.5em;
    &--title{
      font-size: $size-h3;
      margin: 24px 0 16px;
      grid-row: 1;
      grid-column: 1/-1;
      text-align:left;
    }
  }
  .footer{
    &--liste{
      .lien{
        width: 72px;
        text-align: center;
      }
    }
  }
}
.bold{
  font-weight: 600;
}
main{
  margin: 0 16px;
}
ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  color:$c-text;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $c-blanc;
    background-color: $c-green;
    text-decoration: underline $c-blanc;
  }
  &:visited{
    color: $c-blanc;
    background-color: $c-text;
    text-decoration: underline $c-blanc;
  }

}
picture{
  img{
    width:-webkit-fill-available;
  }
}
.title{
  margin: 26px 0 0 16px;
  font-size: 16px;
  color: $c-text;
  a{
    color: $c-text;
    &:hover{
      cursor: pointer;
      text-decoration: none;
    }
    &:active,&:visited{
      text-decoration: none;
      background-color: initial;
    }
  }
  &--second{
    font-size: $size-h2;
  }
  &--span{
    line-height:1;
    color: $c-green;
  }
  &--h4,&--h5{
    color: $c-blanc;
    margin: 13px 0;
    font-style: italic;
    font-weight:600;
    display: flex;
    align-items: center;
  }
  &--h4{
    justify-content:center;
    font-size: $size-h4;
  }
  &--h5{
    font-size: $size-h5;
  }
}
.fond{
  margin-top: 26px;
  margin-left: -16px;
  margin-bottom: 64px;
  background-image: url(../assets/images/fond_mockup.svg);
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content:center;
  align-items:center;
  &--image{
    margin-left:64px;
    width: 20vh;
  }
  &--inv{
    background-image: url(../assets/images/fond_mockup_inv.svg);
    margin-top: 82px;
    margin-bottom: 145px;
    .fond--image{
      margin-right:64px;
    }
  }
}
.download{
  margin-top: 27px;
  margin-left: -16px;
  height: 104px;
  background-image: url(../assets/images/grille.svg);
  background-position: center center;
  background-size: cover;
  width: 100vw;
  display:flex;
  justify-content: space-around;
  align-items: center;
  a{
    display: flex;
    width: 110px;
  }
  &--image{
    width: 110px;
  }
  &--v2{
    background-image: initial;
    margin:initial;
    width: 100%;
  }
}
.section{
  &--banner{
    
  }
  &--marque{
    position: relative;
    margin-top: 145px;
    .balle{
      position: absolute;
      right: -75%;
      height: -webkit-fill-available;
      z-index: -1;
    }
    .liste{
      display: flex;
      justify-content: space-around;
      margin-top: 64px;
    }
    p{
      margin-top:52px;
    }
  }
  &--choix{
    margin-top: 145px;
    .title--second{
      text-align: center;
    }
  }
  &--download{
    position: relative;
    margin: 145px 0 160px 0;
    height: 77vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    .balle{
      position: absolute;
      right: initial;
      height: -webkit-fill-available;
      z-index: -1;
    }
    .title--second{
      text-align:center;
    }
    .texte{
      text-align:center;
    }
  }
  &--planche{
    margin: 48px 0;
    height: 70vw;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    .img, .title{
      grid-column: 1/-1;
    }
    .title{
      margin-bottom:64px;
      font-size: $size-h2;
      text-align: left;
    }
    .img{
      width:100vw;
    }
  }
  &--projet{
    .texte{
      grid-row: 2;
      grid-column: 2/-1;
    }
    .cita{
      align-self: center;
      font-size:$size-cita;
      font-style: italic;
      grid-row: 3;
      grid-column: 1/-1;
    }
  }
  &--recherche{
    .texte{
      grid-row: 2;
      grid-column: 2/-1;
    }
    .cita{
      align-self: center;
      font-size:$size-cita;
      font-style: italic;
      grid-row: 4;
      grid-column: 1/-1;
    }
    .content{
      grid-row: 3;
      grid-column: 1/-1;
      margin: 0 -16px;
    }
    .slideshow-container{
      padding: 24px;
    }
  }
  &--probleme{
      .texte{
        grid-row: 2;
        grid-column: 2/-1;
      }
      .icon-liste{
        grid-row: 3;
        grid-column: 1/-1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 64px 0;
      }
      .liste{
        grid-row: 4;
        grid-column: 1/-1;
        background-color: $c-green;
        color: $c-blanc;
        margin: 0 -16px;
        padding: 24px;
        li{
          margin: 32px 0;
        }
      }
      .cita{
        align-self: center;
        font-size:$size-cita;
        font-style: italic;
        grid-row: 5;
        grid-column: 1/-1;
      }
  }
  &--test{
      .texte{
        grid-row: 2;
        grid-column: 2/-1;
      }
      .img{
        grid-row: 3;
        grid-column: 1/-1;
      }
  }
  &--final,&--test{
    margin-bottom: 64px;
  }
  &--final{
      .texte{
        grid-row: 2;
        grid-column: 2/-1;
      }
      .img{
        grid-row: 3;
        grid-column: 1/-1;
      }
  }
}
.icon{
  margin:16px;
  width: 25vw;
  &--arrow{
    width:10vw;
  }
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: $c-green;
  &--title{
    margin: 32px 0;
  }
  &--liste{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    margin-bottom: 32px;
  }
  a{
    color: $c-blanc;
  }
  .span{
    display: none;
  }
  .dwt{
    width:48px;
  }
}
.figcaption{
  font-size:$size-fig;
  font-weight: 400;
  text-align: end;
}
.citation{
  margin: 24px 0;
  font-family: 'Francois One', sans-serif;
}
.texte{
  margin-bottom:24px
}
.cita{
  margin: 56px 0;
}
.svg{
  fill: $c-blanc;
  margin-right: 8px;
  width: 24px;
}
.lien{
  &--video{
    text-decoration: underline;
  }
}

.hide {
  display: none;
}
.slideshow-container {
  width: 100vw;
  text-align: center;
  color: $c-blanc;
  background-color: $c-green;
  max-width: 1000px;
  height: 30vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 64px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: $c-orange;
  font-weight: bold;
  font-size: 33px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
}
.prev{
  left:0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: $c-text;
  opacity: 0.8;
}
.mySlides{
  width: 70vw;
  align-self: center;
  text-align:initial;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 425px){
  .section{
    &--marque{
      .balle{
        right: -25%;
      }
    }
  }
}

@media (min-width: 768px){
  body {
    font-size: $size-text-tab;
  }
  main{
    margin: 0 8vw;
  }
  .title{
    margin: 48px 0 0 16px;
    font-size: $size-h1-tab;
    &--second{
      font-size: $size-h2-tab;
    }
    &--span{
      line-height:1;
      color: $c-green;
    }
    &--h4{
      font-size:$size-h4-tab;
      margin: 16px 0;
    }
  }
  .fond{
    margin-top: 64px;
    margin-left: -8vw;
    margin-bottom: 64px;
    background-image: url(../assets/images/fond_mockup.svg);
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content:center;
    align-items:center;
    &--image{
      margin-left:64px;
      width: 20vh;
    }
    &--inv{
      background-image: url(../assets/images/fond_mockup_inv.svg);
      margin-top: 82px;
      margin-bottom: 145px;
      .fond--image{
        margin-right:64px;
      }
    }
  }
  .download{
    margin-top: 27px;
    margin-left: -8vw;
    height: 104px;
    background-image: url(../assets/images/grille.svg);
    background-position: center center;
    background-size: cover;
    width: 100vw;
    display:flex;
    justify-content: space-around;
    align-items: center;
    a{
      display: flex;
      width: 110px;
    }
    &--image{
      width: 110px;
    }
    &--v2{
      background-image: initial;
      margin:initial;
      width: 100%;
    }
  }
  .section{
    &--banner{
      
    }
    &--marque{
      position: relative;
      margin-top: 145px;
      .balle{
        position: absolute;
        right: -50%;
        z-index: -1;
      }
      .liste{
        display: flex;
        justify-content: space-around;
        margin-top: 64px;
      }
      p{
        margin-top:52px;
      }
    }
    &--choix{
      margin-top: 145px;
    }
    &--download{
      position: relative;
      margin: 145px 0 160px 0;
      height: 40vw;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      .title--second{
        text-align:center;
      }
      .texte{
        text-align:center;
      }
    }
    &--probleme{
      .cita{
        margin: 72px 0;
      }
      .liste{
        padding: 48px 24px;
      }
    }
    &--final,&--test{
      margin-bottom: 96px;
    }
  }
  .footer{
    &--title{
  
    }
    .dwt{
      width:48px;
    }
  }
  .slideshow-container {
    height: 25vh;
    width:initial;
  }
  .casestudy{
    .section{
      &--title{
        font-size: $size-h3-tab;
      }
    }
  }
  .citation{
    font-size: $size-cita-tab;
  }
  .figcaption{
    font-size: $size-fig-tab;
  }
}
@media (min-width: 968px){
  body {
    font-size: $size-text-pc;
  }
  main{
    margin: 0 16vw;
  }
  .title{
    margin: 64px 0 0 16px;
    text-align: center;
    font-size: $size-h1-pc;
    &--second{
      font-size: $size-h2-pc;
    }
    &--span{
      line-height:1;
      color: $c-green;
    }
    &--h4{
      margin: 16px 0;
      font-size:$size-h4-pc;
    }
    &--h5{
      font-size:$size-h5-pc;
    }
  }
  .fond{
    margin-top: 96px;
    margin-left: -16vw;
    margin-bottom: 64px;
    background-image: url(../assets/images/fond_mockup.svg);
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content:center;
    align-items:center;
    &--image{
      margin-left:64px;
      width: 30vh;
    }
    &--inv{
      background-image: url(../assets/images/fond_mockup_inv.svg);
      margin-top: 82px;
      margin-bottom: 145px;
      .fond--image{
        margin-right:64px;
      }
    }
  }
  .download{
    margin-top: 27px;
    margin-left: -16vw;
    height: 15vh;
    background-image: url(../assets/images/grille.svg);
    background-position: center center;
    background-size: cover;
    width: 100vw;
    display:flex;
    justify-content: space-around;
    align-items: center;
    a{
      display: flex;
      width: 213px;
    }
    &--image{
      width: 213px;
    }
    &--v2{
      background-image: initial;
      margin:initial;
      width: 100%;
    }
  }
  .section{
    &--banner{
      .texte{
        margin-bottom: 64px;
      }
    }
    &--marque{
      position: relative;
      margin-top: 145px;
      .balle{
        position: absolute;
        right: -25%;
        z-index: -1;
      }
      .liste{
        display: flex;
        justify-content: space-around;
        margin-top: 64px;
      }
      p{
        margin-top:52px;
      }
    }
    &--choix{
      margin-top: 145px;
    }
    &--download{
      position: relative;
      margin: 145px 0 160px 0;
      height: 25vw;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      .title--second{
        text-align:center;
      }
      .texte{
        text-align:center;
      }
    }
    &--recherche{
      .slideshow-container{
        padding: 48px;
        height: 100%;
        max-width: none;
      }
    }
    &--probleme{
      .liste{
        padding: 48px;
      }
    }
    &--test{
      .img{
        display: flex;
        justify-content:center;
        .user{
          max-width: 780px;
        }
      }
    }
  }
  .footer{
    &--title{
  
    }
    .dwt{
      width:48px;
    }
  }
  .casestudy{
    .section{
      &--title{
          font-size: $size-h3-pc;
      }
    }
  }
  .citation{
    font-size: $size-cita-pc;
  }
  .cita{
    margin: 104px 64px;
  }
  .mySlides{
    width:50vw;
  }
  .icon{
    max-width: 150px;
    &--arrow{
      max-width: 100px;
    }
  }
  .figcaption{
    font-size: $size-fig-pc;
  }
}
@media (min-width: 1400px){
  .section{
    &--marque{
      background-position: 100% center;
    }
  }
}




