$c-green:#006039;
$c-blanc: #ffffff;
$c-text: #000000;

$size-text: 16px;
$size-h1: 16px;
$size-h2: 33px;

$size-text-tab: 18px;
$size-h1-tab: 25px;
$size-h2-tab: 38px;

$size-text-pc: 21px;
$size-h1-pc: 44px;
$size-h2-pc: 58px;